
<div class="topnav">
   
    <div class="topnav-right m-12">
        <button class="btn btn-success" (click)="clear_cache()" type="submit">logout</button>
    </div>
  </div>
  
<br>

<div class="container" >
    <div class="row">
        <div class="col-md-6 offset-md-3">
        
            <form [formGroup]="homeForm" (ngSubmit)="onSubmit()">
          
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            
                <div class="form-group">
                    <button class="btn btn-primary" >Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive table-bordered">
        <table class="table">
          <thead>
            <tr>
              <th>Email</th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let showmail of this.showEmail">
              <td>{{showmail.Email}}</td>
             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

