<!-- 
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
            
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && email.errors }" />
                        <div *ngIf="submitted && email.errors" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="token" class="form-control" [ngClass]="{ 'is-invalid': submitted && token.errors }" />
                        <div *ngIf="submitted && token.errors" class="invalid-feedback">
                            <div *ngIf="token.errors.required">Password is required</div>
                            <div *ngIf="token.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

 -->

 <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-offset-5 col-md-6">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-login">
                <h4>AppScrip</h4>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && email.errors }"/>
                <div *ngIf="submitted && email.errors" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>   
            <br/>
                <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="token" formControlName="token" [ngClass]="{ 'is-invalid': submitted && token.errors }"/>
                <div *ngIf="submitted && token.errors" class="invalid-feedback">
                        <div *ngIf="token.errors.required">Password is required</div>
                        <div *ngIf="token.errors.minlength">Password must be at least 6 characters</div>
                    </div>   
            <br/>
                <div class="wrapper">
                <span class="group-btn">     
                        <button class="btn btn-primary">Login</button>
                </span>
                </div>
                </div>
            </form>
            
            </div>
        </div>
    </div>